{% extends "layout.html" %}
{% block content %}
    <h1>About Flask Blog</h1>
    <p>This blog site is the product of a series of video tutorials on YouTube created by Corey Shafer. There are 15 videos in the series. Corey also has a Django blog series as well, so you have a choice. You can checkout his YouTube channel <a href="https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g" target="_blank">here</a>.</p>
    <p>You can see the Flask Series <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH" target="_blank">here</a>.</p>
    <p>You can see the Django Series <a href="https://www.youtube.com/playlist?list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p" target="_blank">here</a>.</p>
    <h2>Modules Required for this Website</h2>
    <p>The following Python modules are required for this website to function.</p>
    <ul>
        <li>Flask</li>
        <li>Flask-Bcrypt</li>
        <li>Flask-Login</li>
        <li>Flask-Mail</li>
        <li>Flask-SQLAlchemy</li>
        <li>Flask-WTF</li>
        <li>itsdangerous</li>
        <li>Jinja2</li>
        <li>SQLAlchemy</li>
        <li>WTForms</li>
        <p>** and supporting modules for those listed</p>
    </ul>
    <h3>Along with these modules you also require:</h3>
    <ul>
        <li>Bootstrap 4.0.0</lki>
        <li>jquery 3.2.1</lki>
        <li>Popper.js 1.12.9</lki>
    </ul>
{% endblock content %}